.DS_Store
prepros.config
assets/css/*
assets/scss/*

*.pug
*.html
!index.html
!about.html
!portafolio.html
!project.html
!services.html
!contact.html

config/*
pages/*
layout/*
sections/*
components/*

.sass-cache/
*.css.map
*.sass.map
*.scss.map
